@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.dynamic-full-screen {
		height: 100vh;
		height: 100svh;
	}

	.min-dynamic-full-screen {
		min-height: 100vh;
		min-height: 100svh;
	}

	.max-dynamic-full-screen {
		max-height: 100vh;
		max-height: 100svh;
	}

	.leanscroll::-webkit-scrollbar {
		width: 4px;
		margin-left: 10px;
	}
	.leanscroll::-webkit-scrollbar-thumb {
		background: #d4d4d8;
		border-radius: 2px;
	}
}
html::-webkit-scrollbar {
	width: 8px;
	margin-left: 10px;
}
html::-webkit-scrollbar-thumb {
	background: #d4d4d8;
	border-radius: 2px;
}
